@import "tailwindcss";

#root {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-accent {
  font-family: "MakLight";
  font-weight: 600;
  font-size: 30px;
}

p {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.mak {
  font-family: "Mak";
  font-weight: 600;
}

a,
span,
input,
label,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

button:focus,
.border {
  outline: none;
  border: none;
}

/* Для вебкит-браузеров: Chrome, Safari и новых версий Edge */
::-webkit-scrollbar {
  width: 8px; /* Ширина полосы прокрутки */
}

/* Дорожка полосы прокрутки */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет дорожки */
  border-radius: 10px; /* Скругление углов дорожки */
}

/* Ползунок полосы прокрутки */
::-webkit-scrollbar-thumb {
  background: #79bf3a; /* Цвет ползунка */
  border-radius: 10px; /* Скругление углов ползунка */
}

/* Ползунок при наведении */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

/* Для Firefox */
* {
  scrollbar-width: thin; /* Автоматически делает полосу прокрутки тонкой */
  scrollbar-color: #79bf3a #f1f1f1; /* Цвет ползунка и дорожки */
}
